<div class="embed-responsive embed-responsive-16by9">
    <video class="embed-responsive-item" width="320" height="400" controls>
        <source src=<%= path %> type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>