<head>
    <title></title>
</head>

<%- include('partials/navbar_guest'); %>
<div class="jumbotron ">
    
    <div class="container-fluid">
        <div class="row">
           
            <div class="col" id="main">
                <div class="row mt-5">
                    <div class="col-md-6 m-auto p-3 bg-dark text-white">
                        
                       <h3 class="d-inline ml-2">Communer </h3> 
                        
                        
                    </div>
                </div>
                <%- include('partials/posts'); %>
            </div>
           
        </div>
    </div>
 
    </div>
       
                   

