<head>
    <link rel="stylesheet" href="css/style.css">
    <title>Commuter</title>
</head>
<%- include('partials/navbar'); %>

<div class="container-fluid">
<%- include('partials/messages'); %>
</div>