<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <title>Commuter</title>
    </head>
    <body>
        
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="homebar">
                <a class="navbar-brand" href="#">Communer</a>  
               
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
             <span class="navbar-toggler-icon"></span>
            </button>




                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Communities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Me</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
                                Help
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Contact Us</a>
                                <a class="dropdown-item" href="#">About</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Another Product</a>
                            </div>
                        </li>
                       
                    </ul>
                </div>
                

            </nav> 
        
            <div class="container mt-5" id="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras pulvinar mattis nunc sed blandit. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. At augue eget arcu dictum varius duis at. Nunc sed id semper risus in hendrerit gravida. Purus in massa tempor nec feugiat nisl pretium fusce. Cras sed felis eget velit aliquet sagittis id consectetur purus. Sem et tortor consequat id porta nibh venenatis cras sed. Ultrices neque ornare aenean euismod elementum nisi. Nisl tincidunt eget nullam non nisi est sit.

Lectus urna duis convallis convallis. Nisi porta lorem mollis aliquam ut porttitor. Felis donec et odio pellentesque diam volutpat commodo sed. Sollicitudin tempor id eu nisl nunc mi ipsum. Euismod nisi porta lorem mollis. Sed id semper risus in hendrerit gravida rutrum quisque non. Imperdiet dui accumsan sit amet. Consequat nisl vel pretium lectus quam id leo in. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Aliquet porttitor lacus luctus accumsan tortor posuere. Condimentum lacinia quis vel eros donec ac odio tempor. Eget duis at tellus at urna. Eu turpis egestas pretium aenean pharetra magna ac. Nibh cras pulvinar mattis nunc sed blandit libero volutpat. Integer malesuada nunc vel risus commodo viverra maecenas. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim.

Gravida arcu ac tortor dignissim convallis aenean et tortor at. Sapien faucibus et molestie ac feugiat sed. Mi proin sed libero enim sed faucibus turpis in eu. Tortor at auctor urna nunc id. Imperdiet dui accumsan sit amet nulla facilisi morbi. Odio morbi quis commodo odio aenean sed. Sed nisi lacus sed viverra. Cras semper auctor neque vitae tempus quam pellentesque nec nam. Tempor orci eu lobortis elementum nibh tellus molestie. Lacus sed turpis tincidunt id. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Fringilla est ullamcorper eget nulla facilisi etiam. Nulla at volutpat diam ut venenatis tellus in metus. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Felis eget nunc lobortis mattis aliquam faucibus purus in massa.

Amet justo donec enim diam. Integer quis auctor elit sed vulputate mi sit amet. Proin sed libero enim sed faucibus. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Vitae congue eu consequat ac felis donec et odio. Donec pretium vulputate sapien nec sagittis. Pulvinar proin gravida hendrerit lectus. Non odio euismod lacinia at quis risus sed. Aenean euismod elementum nisi quis eleifend quam adipiscing. Lectus mauris ultrices eros in cursus turpis. Velit scelerisque in dictum non consectetur a erat. Nibh tellus molestie nunc non blandit massa enim nec. A erat nam at lectus urna duis convallis. Proin sed libero enim sed faucibus turpis in eu. Augue interdum velit euismod in pellentesque massa placerat duis ultricies.

Nisl pretium fusce id velit. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Curabitur gravida arcu ac tortor dignissim convallis. Congue eu consequat ac felis donec et odio pellentesque diam. Nisl purus in mollis nunc sed id semper. Ultrices eros in cursus turpis massa. Congue quisque egestas diam in arcu cursus euismod quis. Id diam vel quam elementum pulvinar. Varius duis at consectetur lorem. Volutpat lacus laoreet non curabitur gravida. Ipsum dolor sit amet consectetur adipiscing elit. Magna fermentum iaculis eu non diam. Risus in hendrerit gravida rutrum quisque non tellus orci. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Amet facilisis magna etiam tempor orci eu lobortis elementum nibh. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Pellentesque elit eget gravida cum sociis natoque penatibus et.

© 2015 — 2020
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras pulvinar mattis nunc sed blandit. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. At augue eget arcu dictum varius duis at. Nunc sed id semper risus in hendrerit gravida. Purus in massa tempor nec feugiat nisl pretium fusce. Cras sed felis eget velit aliquet sagittis id consectetur purus. Sem et tortor consequat id porta nibh venenatis cras sed. Ultrices neque ornare aenean euismod elementum nisi. Nisl tincidunt eget nullam non nisi est sit.

Lectus urna duis convallis convallis. Nisi porta lorem mollis aliquam ut porttitor. Felis donec et odio pellentesque diam volutpat commodo sed. Sollicitudin tempor id eu nisl nunc mi ipsum. Euismod nisi porta lorem mollis. Sed id semper risus in hendrerit gravida rutrum quisque non. Imperdiet dui accumsan sit amet. Consequat nisl vel pretium lectus quam id leo in. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Aliquet porttitor lacus luctus accumsan tortor posuere. Condimentum lacinia quis vel eros donec ac odio tempor. Eget duis at tellus at urna. Eu turpis egestas pretium aenean pharetra magna ac. Nibh cras pulvinar mattis nunc sed blandit libero volutpat. Integer malesuada nunc vel risus commodo viverra maecenas. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim.

Gravida arcu ac tortor dignissim convallis aenean et tortor at. Sapien faucibus et molestie ac feugiat sed. Mi proin sed libero enim sed faucibus turpis in eu. Tortor at auctor urna nunc id. Imperdiet dui accumsan sit amet nulla facilisi morbi. Odio morbi quis commodo odio aenean sed. Sed nisi lacus sed viverra. Cras semper auctor neque vitae tempus quam pellentesque nec nam. Tempor orci eu lobortis elementum nibh tellus molestie. Lacus sed turpis tincidunt id. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Fringilla est ullamcorper eget nulla facilisi etiam. Nulla at volutpat diam ut venenatis tellus in metus. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Felis eget nunc lobortis mattis aliquam faucibus purus in massa.

Amet justo donec enim diam. Integer quis auctor elit sed vulputate mi sit amet. Proin sed libero enim sed faucibus. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Vitae congue eu consequat ac felis donec et odio. Donec pretium vulputate sapien nec sagittis. Pulvinar proin gravida hendrerit lectus. Non odio euismod lacinia at quis risus sed. Aenean euismod elementum nisi quis eleifend quam adipiscing. Lectus mauris ultrices eros in cursus turpis. Velit scelerisque in dictum non consectetur a erat. Nibh tellus molestie nunc non blandit massa enim nec. A erat nam at lectus urna duis convallis. Proin sed libero enim sed faucibus turpis in eu. Augue interdum velit euismod in pellentesque massa placerat duis ultricies.

Nisl pretium fusce id velit. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Curabitur gravida arcu ac tortor dignissim convallis. Congue eu consequat ac felis donec et odio pellentesque diam. Nisl purus in mollis nunc sed id semper. Ultrices eros in cursus turpis massa. Congue quisque egestas diam in arcu cursus euismod quis. Id diam vel quam elementum pulvinar. Varius duis at consectetur lorem. Volutpat lacus laoreet non curabitur gravida. Ipsum dolor sit amet consectetur adipiscing elit. Magna fermentum iaculis eu non diam. Risus in hendrerit gravida rutrum quisque non tellus orci. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Amet facilisis magna etiam tempor orci eu lobortis elementum nibh. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Pellentesque elit eget gravida cum sociis natoque penatibus et.

© 2015 — 2020
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras pulvinar mattis nunc sed blandit. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. At augue eget arcu dictum varius duis at. Nunc sed id semper risus in hendrerit gravida. Purus in massa tempor nec feugiat nisl pretium fusce. Cras sed felis eget velit aliquet sagittis id consectetur purus. Sem et tortor consequat id porta nibh venenatis cras sed. Ultrices neque ornare aenean euismod elementum nisi. Nisl tincidunt eget nullam non nisi est sit.

Lectus urna duis convallis convallis. Nisi porta lorem mollis aliquam ut porttitor. Felis donec et odio pellentesque diam volutpat commodo sed. Sollicitudin tempor id eu nisl nunc mi ipsum. Euismod nisi porta lorem mollis. Sed id semper risus in hendrerit gravida rutrum quisque non. Imperdiet dui accumsan sit amet. Consequat nisl vel pretium lectus quam id leo in. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Aliquet porttitor lacus luctus accumsan tortor posuere. Condimentum lacinia quis vel eros donec ac odio tempor. Eget duis at tellus at urna. Eu turpis egestas pretium aenean pharetra magna ac. Nibh cras pulvinar mattis nunc sed blandit libero volutpat. Integer malesuada nunc vel risus commodo viverra maecenas. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim.

Gravida arcu ac tortor dignissim convallis aenean et tortor at. Sapien faucibus et molestie ac feugiat sed. Mi proin sed libero enim sed faucibus turpis in eu. Tortor at auctor urna nunc id. Imperdiet dui accumsan sit amet nulla facilisi morbi. Odio morbi quis commodo odio aenean sed. Sed nisi lacus sed viverra. Cras semper auctor neque vitae tempus quam pellentesque nec nam. Tempor orci eu lobortis elementum nibh tellus molestie. Lacus sed turpis tincidunt id. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Fringilla est ullamcorper eget nulla facilisi etiam. Nulla at volutpat diam ut venenatis tellus in metus. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Felis eget nunc lobortis mattis aliquam faucibus purus in massa.

Amet justo donec enim diam. Integer quis auctor elit sed vulputate mi sit amet. Proin sed libero enim sed faucibus. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Vitae congue eu consequat ac felis donec et odio. Donec pretium vulputate sapien nec sagittis. Pulvinar proin gravida hendrerit lectus. Non odio euismod lacinia at quis risus sed. Aenean euismod elementum nisi quis eleifend quam adipiscing. Lectus mauris ultrices eros in cursus turpis. Velit scelerisque in dictum non consectetur a erat. Nibh tellus molestie nunc non blandit massa enim nec. A erat nam at lectus urna duis convallis. Proin sed libero enim sed faucibus turpis in eu. Augue interdum velit euismod in pellentesque massa placerat duis ultricies.

Nisl pretium fusce id velit. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Curabitur gravida arcu ac tortor dignissim convallis. Congue eu consequat ac felis donec et odio pellentesque diam. Nisl purus in mollis nunc sed id semper. Ultrices eros in cursus turpis massa. Congue quisque egestas diam in arcu cursus euismod quis. Id diam vel quam elementum pulvinar. Varius duis at consectetur lorem. Volutpat lacus laoreet non curabitur gravida. Ipsum dolor sit amet consectetur adipiscing elit. Magna fermentum iaculis eu non diam. Risus in hendrerit gravida rutrum quisque non tellus orci. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Amet facilisis magna etiam tempor orci eu lobortis elementum nibh. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Pellentesque elit eget gravida cum sociis natoque penatibus et.

© 2015 — 2020
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras pulvinar mattis nunc sed blandit. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. At augue eget arcu dictum varius duis at. Nunc sed id semper risus in hendrerit gravida. Purus in massa tempor nec feugiat nisl pretium fusce. Cras sed felis eget velit aliquet sagittis id consectetur purus. Sem et tortor consequat id porta nibh venenatis cras sed. Ultrices neque ornare aenean euismod elementum nisi. Nisl tincidunt eget nullam non nisi est sit.

Lectus urna duis convallis convallis. Nisi porta lorem mollis aliquam ut porttitor. Felis donec et odio pellentesque diam volutpat commodo sed. Sollicitudin tempor id eu nisl nunc mi ipsum. Euismod nisi porta lorem mollis. Sed id semper risus in hendrerit gravida rutrum quisque non. Imperdiet dui accumsan sit amet. Consequat nisl vel pretium lectus quam id leo in. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Aliquet porttitor lacus luctus accumsan tortor posuere. Condimentum lacinia quis vel eros donec ac odio tempor. Eget duis at tellus at urna. Eu turpis egestas pretium aenean pharetra magna ac. Nibh cras pulvinar mattis nunc sed blandit libero volutpat. Integer malesuada nunc vel risus commodo viverra maecenas. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim.

Gravida arcu ac tortor dignissim convallis aenean et tortor at. Sapien faucibus et molestie ac feugiat sed. Mi proin sed libero enim sed faucibus turpis in eu. Tortor at auctor urna nunc id. Imperdiet dui accumsan sit amet nulla facilisi morbi. Odio morbi quis commodo odio aenean sed. Sed nisi lacus sed viverra. Cras semper auctor neque vitae tempus quam pellentesque nec nam. Tempor orci eu lobortis elementum nibh tellus molestie. Lacus sed turpis tincidunt id. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Fringilla est ullamcorper eget nulla facilisi etiam. Nulla at volutpat diam ut venenatis tellus in metus. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Felis eget nunc lobortis mattis aliquam faucibus purus in massa.

Amet justo donec enim diam. Integer quis auctor elit sed vulputate mi sit amet. Proin sed libero enim sed faucibus. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Vitae congue eu consequat ac felis donec et odio. Donec pretium vulputate sapien nec sagittis. Pulvinar proin gravida hendrerit lectus. Non odio euismod lacinia at quis risus sed. Aenean euismod elementum nisi quis eleifend quam adipiscing. Lectus mauris ultrices eros in cursus turpis. Velit scelerisque in dictum non consectetur a erat. Nibh tellus molestie nunc non blandit massa enim nec. A erat nam at lectus urna duis convallis. Proin sed libero enim sed faucibus turpis in eu. Augue interdum velit euismod in pellentesque massa placerat duis ultricies.

Nisl pretium fusce id velit. Sapien nec sagittis aliquam malesuada bibendum arcu vitae. Curabitur gravida arcu ac tortor dignissim convallis. Congue eu consequat ac felis donec et odio pellentesque diam. Nisl purus in mollis nunc sed id semper. Ultrices eros in cursus turpis massa. Congue quisque egestas diam in arcu cursus euismod quis. Id diam vel quam elementum pulvinar. Varius duis at consectetur lorem. Volutpat lacus laoreet non curabitur gravida. Ipsum dolor sit amet consectetur adipiscing elit. Magna fermentum iaculis eu non diam. Risus in hendrerit gravida rutrum quisque non tellus orci. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Amet facilisis magna etiam tempor orci eu lobortis elementum nibh. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Pellentesque elit eget gravida cum sociis natoque penatibus et.

© 2015 — 2020
        
</div>
    </body>

</html>
