<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node.JS File Upload</title>
  </head>
  <body>
    <!-- <form class="fileupload" action="upload" method="post" enctype="multipart/form-data">
      <h1>Upload File Here</h1>
      <input type="text" name="name" id="name">
      <input type="file" name="upfile" value="">
      <input type="submit" />
    </form> -->

    <video width="320" height="240" controls>
      <source src="yt1.mp4" type="video/mp4">
      
      Your browser does not support the video tag.
    </video>
  </body>
</html>
